@model IEnumerable<Nhom8.ViewModels.ResearchVM>
@{
    ViewData["Title"] = "Research";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<div id="content">

    <div class="container" style="padding-left: 100px; padding-right: 100px; padding-top: 100px;">
        <div class="research">
            <div class="filter">

                <div class="filter-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px; ">
                    <h5 style=" margin-bottom: 0px;">Bộ lọc:</h5>
                </div>               
                
                @await Component.InvokeAsync("FilterTNghi")

                @await Component.InvokeAsync("FilterDichvu")

                @await Component.InvokeAsync("FilterChinhsach")
                                
            </div>

            <div class="result">
                
                @foreach (var item in Model)
                {
                    <div class="hotel-card d-flex">
                        <img src="https://t3.ftcdn.net/jpg/00/29/13/38/240_F_29133877_bfA2n7cWV53fto2BomyZ6pyRujJTBwjd.jpg" alt="Hotel Image" class="img-fluid" style="max-width: 240px;">
                        <div class="hotel-info">
                            <h5 class="mt-0">@item.KhachSan.TenKs 
                                <span class="badge bg-warning text-dark">

                                </span>
                            </h5>
                            <div class="" style="font-size: 14px;">
                                <a href="#" class="text-decoration-none"> @item.KhachSan.DiaChi</a>
                            </div>

                            <p class="mt-2"><strong>@item.Phong.LoaiPhong</strong></p>
                            <p class="text-success">✔ miễn phí huỷ</p>
                        </div>
                        <div class="hotel-price" style="padding: 10px; font-size: 14px;">
                            <p class="mb-1"><strong>Tốt</strong> <span class="badge badge-rating">7,3</span></p>
                            <p class="mb-1"><strong>3 đêm, 2 người lớn</strong></p>
                            <p class="mb-1"><strong>@item.Phong.GiaPhong</strong><br>Đã bao gồm thuế và phí</p>
                            <a asp-action="detail" asp-controller="detail" asp-route-idKs="@item.KhachSan.IdKs" class="btn btn-primary">Xem chỗ trống</a>
                        </div>
                    </div>
                }

                

            </div>

        </div>
    </div>

</div>
