@using System.Globalization
@model IEnumerable<Nhom8.ViewModels.ResearchVM>
@{
    ViewData["Title"] = "Research";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<div id="content">

    <div class="container" style="padding-left: 100px; padding-right: 100px; padding-top: 100px; padding-bottom:50px">
        <div class="research">
            <div class="filter">

                <div class="filter-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px; ">
                    <h5 style=" margin-bottom: 0px;">Bộ lọc:</h5>
                </div>               
                
                @await Component.InvokeAsync("FilterTNghi")

                @await Component.InvokeAsync("FilterDichvu")

                @await Component.InvokeAsync("FilterChinhsach")
                                
            </div>

            <div class="result">
                
                @foreach (var item in Model)
                {
                    <a asp-action="Detail" asp-controller="detail" asp-route-idKs="@item.KhachSan.IdKs" class="" style="text-decoration:none">
                        <div class="hotel-card d-flex" style="height:max-content; font-size:14px">
                            <img src="@item.KhachSan.ImageKs" alt="Hotel Image" class="img-fluid" style="max-width: 240px;">
                            <div class="hotel-info">
                                <h6 class="mt-0" style="color:black; font-size:18px">
                                    <strong>
                                        @item.KhachSan.TenKs
                                    </strong>                                    
                                    <span class="badge">
                                        @for (int i = 0; i < item.KhachSan.Star; i++)
                                        {
                                            <i class="fa-solid fa-star" style="font-size:10px; color:#ffdc00"></i>
                                        }                                        
                                    </span>
                                </h6>
                                <div class="" style="font-size: 14px;">
                                    <a href="#" class="text-decoration-none"> @item.KhachSan.DiaChi</a>
                                </div>
                                @* <p class="mt-2"><strong>@item.Phong.LoaiPhong</strong></p> *@
                                @* <p class="text-success">@item.DichVu.TenDichVu.Take(2).ToArray().ToString()</p> *@
                            </div>
                            <div class="hotel-price" style="padding: 5px; font-size: 14px;">                                
                                <p class="mb-1"><strong></strong></p>
                                <p class="mb-1">
                                    Giá trung bình <br />
                                    <strong style="font-size: 20px">
                                        @String.Format("{0:N0} VND", item.Phong.GiaPhong)
                                        @* @String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.Phong.GiaPhong) *@
                                    </strong>
                                    <br />phòng/đêm
                                    </p>
                                <a asp-action="Detail" asp-controller="detail" asp-route-idKs="@item.KhachSan.IdKs" class="btn btn-primary">Xem chỗ trống</a>
                            </div>
                        </div>
                    </a>
                    
                }

                

            </div>

        </div>
    </div>

</div>
