@using Nhom8.Data
@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<User>

<div class="content">
	<h1>Danh sách khách hàng</h1>
	<p>bạn có tổng cộng @Model.Count khách hàng</p>
	<div class="content-bang">
		<table>
			<thead>
			<th colspan="2">
				<div class="header-bang">
					<input type="text" placeholder="name">
					<button class="bt-search"><i class="fas fa-search"></i></button>
				</div>
			</th>
			<th colspan="5"></th>
			</thead>
			<thead>
			
			<th>ID</th>
			<th>Hình đại diện</th>
			<th>Tên</th>
			<th>Email</th>
			<th>SĐT</th>
			<th>Xác minh</th>
			
			</thead>
			@foreach (var item in Model)
			{
				if (item.Role == "CUS")
				{
					<tr>
						
					<td>@item.UserId</td>
					<td class="checkbox-container">
						<img style="margin-left: 40%" class="avatar-cus" src="@item.Img" alt="" />						
					</td>
					<td>@item.TenKh</td>
					<td>@item.Email</td>
					<td>@item.Sdt</td>
					<td>
						<i class="fa-solid fa-check"></i>
					</td>
					
				</tr>
				}
			}
		</table>
	</div>

</div>