@* @using Nhom8_DACS.Data
@{
	ViewData["Title"] = "ManagerRoom";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<DatPhong>



<div class="content">
	<h1>Danh sách đặt phòng</h1>
	<p>bạn đã có @Model.Count lượt đặt phòng</p>
	
	<div class="content-bang">
		<table>
			<thead>
			<th colspan="9">
				<div class="header-bang">
					<input type="text" placeholder="name">
					<button class="bt-search"><i class="fas fa-search"></i></button>
				</div>
			</th>
			</thead>
			<thead>
			<th><input type="checkbox" class="checkbox1" name="checkbox-customer"></th>
			<th>ID</th>
			<th>Khách hàng</th>
			<th>Kiểu phòng</th>
			<th>Số điện thoại</th>
			<th>ngày đến</th>
			<th>ngày đi</th>
			<th>Tình trạng</th>
			<th><input type="button" value="+"></th>
			</thead>
			@foreach (var item in Model)
			{
					<tr>
						<td><input type="checkbox" class="checkbox1" name="checkbox-customer"></td>
					<td>@item.IdDatPhong</td>
					<td class="checkbox-container">
						<div class="avatar">
								<img class="img-MR" src="@item.User?.Img" alt="User">
						</div>
						<div>
							<strong>@item.User?.TenKh</strong><br>
							<p>@item.User?.Email</p>
						</div>
					</td>
					<td>@item.IdPhongNavigation?.TenPhong</td>
					<td>@item.User?.Sdt</td>
					<td>@item.NgayCheckin</td>
					<td>@item.NgayCheckout</td>
					<td >
						@if(item.TrangThai == true)
						{
							<span style="color:rgb(6, 162, 6);">Đã thanh toán</span>
						}
						else
						{
							<span style="color:rgb(210, 1, 3);">Đã hủy</span>
						}
					</td>
					<td>
						<div class="dropdown">
							<button class="bt-more">...</button>
							<div class="dropdown-content">
								<a href="#">Chi tiết</a>
								<a href="#">Sửa</a>
								<a href="#">Xóa</a>
							</div>
						</div>
					</td>
				</tr>
			}

		</table>

	</div>
 *@