@using Nhom8.Data
@{
    ViewData["Title"] = "room";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<Phong>

<div class="content">
    <h1>Danh sách phòng</h1>
    <p>bạn đã liên kết được với @Model.Count phòng</p>
    <div class="content-bang">
        <table>
            <thead>
            <th colspan="2">
                 <form method="get" asp-action="Search">
                    <div class="header-bang">
                        <input type="text" name="searchTerm" placeholder="name" value="@ViewData["SearchTerm"]" />
                        <button type="submit" class="bt-search"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </th>
            <th colspan="6"></th>
            
            <thead>
            <th>mã phòng</th>
            <th>Khách sạn</th>
            <th>kiểu phòng</th>
            <th>Số lượng giường</th>
            <th>giá thuê</th>
            <th>tình trạng</th>
            <th></th>
            </thead>
            @foreach(var item in Model)
            {
               <tr>
                    <td>@item.IdPhong</td>
                    <td>@item.IdKsNavigation?.TenKs</td>
                    <td>@item.TenPhong</td>                    
                    <td>@item.GiaPhong vnd</td>
                    <td>@item.TinhTrangPhong</td>
                    <td>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="mySwitch" value="@item.Hd" 
                                @(item.Hd==true ? "checked" : "") />
                                </div>
                    </td>
                    
                </tr>
            }                 
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
