@* @using Nhom8_DACS.Data;
@{
    ViewData["Title"] = "room";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<Phong>

<div class="content">
    <h1>Danh sách phòng</h1>
    <p>bạn đã liên kết được với @Model.Count phòng</p>
    <div class="content-bang">
        <table>
            <thead>
            <th colspan="7">
                <div class="header-bang">
                    <input type="text" placeholder="name">
                    <button class="bt-search"><i class="fas fa-search"></i></button>
                </div>
            </th>
            </thead>
            <thead>
            <th><input type="checkbox" class="checkbox1" name="checkbox-customer"></th>
            <th>mã phòng</th>
            <th>kiểu phòng</th>
            <th>bữa ăn</th>
            <th>số lượng giường</th>
            <th>giá thuê</th>
            <th>tình trạng</th>
            @foreach(var item in Model)
            {
               <tr>
                    <td><input type="checkbox" class="checkbox1" name="checkbox-customer"></td>
                    <td>@item.IdPhong</td>
                    <td>@item.TenPhong</td>
                    <td>@item.GiaPhong vnd</td>
                    <td>@item.TinhTrangPhong</td>
                    <td>
                        <div class="dropdown">
                            <button class="bt-more">...</button>
                            <div class="dropdown-content">
                                <a href="#">Chi tiết</a>
                                <a href="#">Sửa</a>
                                <a href="#">Xóa</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }                 
                            <a href="#">Xóa</a>
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
 *@