@using Nhom8.Data
@{ 
    ViewData["Title"] = "room";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<Phong>

<div class="content">
    <h1>Danh sách phòng</h1>
    <p>bạn đã liên kết được với @Model.Count phòng</p>
    <div class="content-bang">
        <table>
            <thead>
            <th colspan="2">
                <form method="get" asp-controller="Home" asp-action="Room">
                    <div class="header-bang">
                        <input type="text" placeholder="name" name="searchString">
                        <button type="submit" class="bt-search"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </th>
            <th colspan="6"></th>
            
            <thead>
            @* <th><input type="checkbox" class="checkbox1" name="checkbox-customer"></th> *@
            <th>mã phòng</th>
            <th>Khách sạn</th>
            <th>kiểu phòng</th>
            <th>Số lượng giường</th>
            <th>giá thuê</th>
            <th>tình trạng</th>
            <th></th>
            @* <th><input type="button" value="+"></th> *@
            </thead>
            @foreach(var item in Model)
            {
               <tr>
                    @* <td><input type="checkbox" class="checkbox1" name="checkbox-customer"></td> *@
                    <td>@item.IdPhong</td>
                    <td>@item.IdKsNavigation?.TenKs</td>
                    <td>@item.TenPhong</td>
                    <td>@item.IdChiTietPhongNavigation?.SlGiuong</td>
                    <td>@item.GiaPhong vnd</td>
                    <td>@item.TinhTrangPhong</td>
                    <td>
                        <form asp-action="Updates" method="post">
                            <div class="form-check form-switch">
                                <input type="hidden" name="id" value="@item.IdPhong" />
                                <input type="checkbox" class="form-check-input" id="hd_@item.IdPhong" name="hd" @(item.Hd.HasValue && item.Hd.Value ? "checked" : "") />
                                <button type="submit">Lưu</button>
                            </div>
                        </form>
                        
                    </td>
                    @* <td>
                        <div class="dropdown">
                            <button class="bt-more">...</button>
                            <div class="dropdown-content">
                                <a href="#">Chi tiết</a>
                                <a href="#">Sửa</a>
                                <a href="#">Xóa</a>
                            </div>
                        </div>
                    </td> *@
                </tr>
            }                 
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
