@using Nhom8.Data
@{ 
    ViewData["Title"] = "room";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<Phong>

<div class="content">
    <h1>Danh sách phòng</h1>
    <p>bạn đã liên kết được với @Model.Count phòng</p>
    <div class="content-bang">
        <table>
            <thead>
            <th colspan="2">
                <form method="get" asp-controller="Home" asp-action="Room">
                    <div class="header-bang">
                        <input type="text" placeholder="name" name="searchString">
                        <button type="submit" class="bt-search"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </th>
            <th colspan="6"></th>
            
            <thead>
            <th>mã phòng</th>
            <th>Khách sạn</th>
            <th>kiểu phòng</th>
            <th>Số lượng giường</th>
            <th>giá thuê</th>
            <th>tình trạng</th>
            <th></th>
            </thead>
            @foreach(var item in Model)
            {
               <tr>
                    <td>@item.IdPhong</td>
                    <td>@item.IdKsNavigation?.TenKs</td>
                    <td>@item.TenPhong</td>
                    <td>@item.IdChiTietPhongNavigation?.SlGiuong</td>
                    <td>@item.GiaPhong vnd</td>
                    <td>@item.TinhTrangPhong</td>
                    <td>
                        <form asp-action="Updates" method="post" id="updateForm_@item.IdPhong">
                            <div class="form-check form-switch">
                                <input type="hidden" name="id" value="@item.IdPhong" />
                                <input type="hidden" name="hd"/>
                                <input type="checkbox" class="form-check-input" id="hd_@item.IdPhong" name="hd" value="@item.Hd"  @(item.Hd ? "checked" : "") onchange="this.form.submit()" />
                            </div>
                        </form>


                        
                    </td>
                    
                </tr>
            }                 
                        </div>
                    </div>
                </td>
            </tr>

        </table>

    </div>
