@model Nhom8.ViewModels.KhachSanTinhViewModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div id="content">
    <div class="container" style="padding-left: 100px; padding-right: 100px; padding-top: 100px;">       

        <div class="container">
            <h2 class="px-3">Khám phá Việt Nam</h2>
            <p class="px-3">Các điểm đến phổ biến này có nhiều điều chờ đón bạn</p>
            <div id="cardCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @if(Model.Tinhs != null && Model.Tinhs.Count > 0)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @foreach (var tinh in Model.Tinhs.Take(4))
                                {
                                    <div class="col-md-3 col-sm-6 mb-4 px-3">
                                        <div class="card">
                                            <a asp-controller="research" asp-action="research" asp-route-TP="@tinh.Id" style="text-decoration: none; color: black;">
                                                <img src="https://cdn.tgdd.vn/Files/2021/06/15/1360385/top-10-bai-bien-vung-tau-dep-noi-tieng-ban-nhat-dinh-phai-di-202106160011402743.jpg" class="card-img-top-2" alt="Vũng Tàu">
                                                <div class="card-body">
                                                    <h6 class="card-title text-center">@tinh.Name</h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                        @for (int i = 4; i < Model.Tinhs.Count; i += 4)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @foreach(var tinh in Model.Tinhs.Skip(i).Take(4))
                                    {
                                        <div class="col-md-3 col-sm-6 mb-4 px-3">
                                            <div class="card">
                                                <a asp-controller="research" asp-action="research" asp-route-TP="@tinh.Id" style="text-decoration: none; color: black;">
                                                    <img src="~/assets/img/img_customer/phanthiet.jpg" class="card-img-top-2" alt="Hà Nội">
                                                    <div class="card-body">
                                                        <h6 class="card-title text-center">@tinh.Name</h6>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                        }
                    }
                    
                </div>

                <button class="carousel-control-prev btn-arr rounded-circle" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon carousel-control-icon" aria-hidden="true"><i class="ti-angle-l"></i></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next btn-arr rounded-circle" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon carousel-control-icon" aria-hidden="true"><i class="ti-angle-right"></i></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>           
        </div>

        <div class="container mt-5">
            <h4 style="padding-bottom:20px">LambiengTravel đề xuất cho bạn</h4>
                       
            <div id="searchResults">
                <div id="carouselExampleControls" class="carousel carousel-dar slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                @foreach (var hotel in Model.KhachSans.Take(4))
                                {
                                    <div class="col-md-4 col-lg-3 mb-4">
                                        <div class="card">
                                            <div class="position-relative">
                                                <img src="https://cdn1.ivivu.com/iVivu/2019/08/22/18/landscape-4096-1-800x450.webp?o=jpg" class="card-img-top-2" alt="The Malibu Hotel">
                                            </div>
                                            <div class="card-body" style="padding-left:0">
                                                <a asp-action="Detail" asp-controller="Detail" asp-route-IdKs="@hotel.Id" style="text-decoration: none; color: black">
                                                    <h5 class="card-title">@hotel.Name</h5>
                                                    <div class="item-ks" style="display:flex; justify-content: space-between; margin-right:10px">                                                        
                                                        <p class="hotel-province" style="justify-content: end">@hotel.Tinh</p>                                                        
                                                            <p class="hotel-price">@hotel.Star <i class="fa-solid fa-star"></i></p>                                                        
                                                    </div>
                                                    
                                                </a>
                                                                                            
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @for (int i = 4; i < Model.KhachSans.Count(); i += 4)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @foreach (var hotel in Model.KhachSans.Skip(i).Take(4))
                                    {
                                        <div class="col-md-4 col-lg-3 mb-4">
                                            <div class="card">
                                                <div class="position-relative">
                                                    <img src="https://cdn1.ivivu.com/iVivu/2019/08/22/18/landscape-4096-1-800x450.webp?o=jpg" class="card-img-top-2" alt="The Malibu Hotel">
                                                </div>
                                                <div class="card-body" style="padding-left:0">
                                                    <a asp-action="Detail" asp-controller="Detail" asp-route-IdKs="@hotel.Id" style="text-decoration: none; color: black">
                                                        <h5 class="card-title">@hotel.Name</h5>
                                                        <div class="item-ks" style="display:flex; justify-content: space-between; margin-right:10px">
                                                            <p class="hotel-province" style="justify-content: end">@hotel.Tinh</p>
                                                            <p class="hotel-price">@hotel.Star <i class="fa-solid fa-star"></i></p>
                                                        </div>

                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="border-radius: 50%;background-color: black ;border: 5px solid rgba(0, 0, 0, 0.8) ;"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" style="border-radius: 50%;background-color: black ;border: 5px solid rgba(60, 60, 60, 1) ;"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>

        <div class="container" style="padding-bottom: 20px;">
            <div class="ticker">
                <div class="content-ticked">
                    <h2><b>Nhận ngay giảm giá tức thì</b></h2>
                    <p>Chỉ cần đăng nhập nhận ngay những ưu đãi bất ngờ từ Booking.com</p>
                </div>
                <div class="ms-auto">
                    <a class="btn" style=" color: #006ce4; border: 1px solid #006ce4; background: #fff;" asp-controller="Authen" asp-action="register" asp-route-role="CUS" >Đăng ký</a>
                    <a class="btn" style="color: #006ce4; border: 1px solid #006ce4; background: #fff" asp-controller="Authen" asp-action="login">Đăng nhập</a>
                </div>
            </div>

        </div>

        <div class="container" style="padding-bottom: 20px;">
            <div class="ticker">
                <div class="content-ticked">
                    <h2><b>Đăng ký nơi nghỉ của bạn</b></h2>
                    <p>Tiếp cận hàng triệu khách hàng tiềm năng và nâng tầm doanh nghiệp của bạn với chúng tôi</p>
                </div>
                <div class="ms-auto">
                    <a class="btn" style=" color: #006ce4; border: 1px solid #006ce4; background: #fff;" asp-action="register" asp-controller="authen" asp-route-role="KS">Đăng ký</a>
                </div>
            </div>

        </div>

    </div>

</div>
