@{
    ViewData["Title"] = "RoomBooking";
    Layout = "~/Areas/Hotel/Views/Shared/_LayoutHotel.cshtml";
}

@model IEnumerable<Nhom8.Data.DatPhong>

<div class="HotelBody">
    <div class="BodyItem">
        <h2>Đặt phòng</h2> <br>
        <div>
            <form method="get" asp-controller="Home" asp-action="RoomBooking">
               
                <div style="display: inline-block;">
                    <h3>Mục</h3>
                    <select id="date_type" name="date_type" class="bui-form__control">
                        <option value="booking">Ngày nhận phòng</option>
                        <option value="arrival">Ngày đi</option>
                        <option value="departure" selected="selected">Chưa thanh toán</option>
                    </select>
                </div>
                <div style="display: inline-block;">
                    <h3>Từ</h3>
                    <input type="date" id="fromDate" name="fromDate" class="bui-form__control">
                </div>
                <div style="display: inline-block;">
                    <h3>Cho đến</h3>
                    <input type="date" id="toDate" name="toDate" class="bui-form__control">
                </div>
                <div style="display: inline-block;">
                    <button type="submit" class="bui-button bui-button--primary">Hiển thị</button>
                </div>
            </form>
        </div>
        <div>
            <table id="customers">
                <thead>
                    <tr>
                        <th>Tên khách</th>
                        <th>Ngày nhận phòng</th>
                        <th>Ngày đi</th>
                        <th>Phòng</th>
                        <th>Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in Model)
                    {
                        <tr>
                            <td>@booking.User.TenKh</td>
                            <td>@booking.NgayCheckin</td>
                            <td>@booking.NgayCheckout</td>
                            <td>@booking.IdPhongNavigation.TenPhong</td>
                            <td>@($"{booking.TongTien:N0} đồng")</td>
                            <td>
                                @if (booking.TrangThai == false)
                                {
                                    <!-- Hiển thị nút thanh toán nếu chưa thanh toán -->
                                    <form method="post" asp-controller="Home" asp-action="ThanhToan">
                                        <input type="hidden" name="datPhongId" value="@booking.IdDatPhong" />
                                        <button type="submit" class="bui-button bui-button--primary">Thanh toán</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
    